.command-line
{
	float: right;
	width:40%;
}

.textbox {
	width : 50px;
	float :right;

}

.textArea {
  width: 100%;
  height: 88vh;
  background: black;
  overflow: hidden;
  color: white;
  font-family: "Arial";
  overflow-y: scroll;
}

.container
{
	text-align: center;
}